<!DOCTYPE html>
<html>
  <head>
    <title>Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/skills">List of All Skills</a>
    <h1><%= skill.skill %></h1>
    <p><%= skill.info %></p>
  </body>
</html>