<!DOCTYPE html>
<html>
  <head>
    <title>Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <a href="/skills">To Skills List</a>
  </body>
</html>
