body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#delete-edit > form {
  display: inline-block;
}

.skill {
  list-style: square;
}

.skill > a {
  color: black;
}

.skill > a:link {
  text-decoration: none;
}
.skill > a:hover {
  text-decoration: underline;
}
